/* Colors */
/* Text configuration */
/* Images */
/* Mixin */
/* Header */
.logo {
  display: flex;
  justify-content: center;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.logo .logo__img {
  width: 10.125rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.localisation {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  background-color: #EAEAEA;
  /*box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.25), inset 0 1px 6px rgba(0, 0, 0, 0.25);*/
}
.localisation__icon {
  color: #353535;
  width: auto;
  height: 1rem;
}
.localisation__city {
  color: #353535;
  margin: 0;
  padding-left: 1rem;
}

/* Hero section */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
}
.hero__title {
  margin-top: 2rem;
  width: 70%;
}
.hero__text {
  font-size: 1.125rem;
  font-weight: 300;
  color: #353535;
  margin-top: 0;
  margin-bottom: 2rem;
}
.hero .button__explore {
  margin-bottom: 4rem;
}

/* Function section */
.function {
  margin: 3rem 1rem 4rem 1rem;
}
.function__list {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.function__list__element {
  /*background-color: $light-grey;*/
  width: 100%;
  /*height: 4.5rem;*/
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  /*border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);*/
}
.function__list__element__box {
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
  width: 100%;
  height: 4.5rem;
  margin-left: 0.5rem;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}
.function__list__element__box__circle {
  position: relative;
  top: 0;
  left: -10px;
  background-color: #9356DC;
  color: #FFFFFF;
  padding-top: 0.3rem;
  text-align: center;
  border-radius: 50%;
  width: 2rem;
  height: 1.8rem;
}
.function__list__element__box__div {
  width: 100%;
  display: flex;
  align-items: center;
}
.function__list__element__box__img {
  margin: 1rem 1.5rem 1rem 1.5rem;
}

/* Restaurants section */
.restaurants {
  background-color: #F6F6F6;
  padding: 2rem 1rem 4rem 1rem;
  height: 85rem;
  /*&__list {
    width: 100%;
    height: 60rem;*/
}
.restaurants__list__element {
  /*width: 100%;
  height: 15.8rem;
  border-radius: 20px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);*/
  text-decoration: none;
  list-style-type: none;
  /*}*/
  /*}*/
  /*}*/
}
.restaurants__list__element__img {
  width: 100%;
  height: 14%;
  background-size: cover;
  background-position: 50% 61%;
  /*background-color: red;*/
  border-radius: 20px 20px 0 0;
  margin-top: 1.5rem;
}
.restaurants__list__element .image-jay {
  background-image: url("../../www/assets/img/jay-wennington.jpg");
}
.restaurants__list__element .image-stil {
  background-image: url("../../www/assets/img/stil.jpg");
}
.restaurants__list__element .image-toa {
  background-image: url("../../www/assets/img/toa.jpg");
}
.restaurants__list__element .image-louis {
  background-image: url("../../www/assets/img/louis-hansel.jpg");
}
.restaurants__list__element__new {
  position: relative;
  top: 1rem;
  left: 15.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 2rem;
  text-decoration: none;
  list-style-type: none;
  background-color: #99E2D0;
  color: #008766;
  font-size: 0.875rem;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.restaurants__list__element__description {
  padding: 1.5rem 1rem 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  border-radius: 0 0 20px 20px;
}
.restaurants__list__element__description__text {
  color: #000000;
  margin: 0;
}
.restaurants__list__element__description__text__title {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0;
}
.restaurants__list__element__description__text__city {
  font-size: 1.063rem;
  font-weight: 300;
  margin: 0.5rem 0 1rem 0;
}
.restaurants__list__element__description__heart {
  color: #000000;
}
.restaurants__list__element__description .color__purple-pink {
  background: linear-gradient(#9356DC, #FF79DA);
}

/*# sourceMappingURL=home.css.map */
