
  /* Colors */
  $purple: #9356DC;
  $pink: #FF79DA;
  $green: #99E2D0;
  $dark-green: #008766;
  $grey: #353535;
  $medium-grey: #EAEAEA;
  $light-grey: #F6F6F6;
  $black: #000000;
  $white: #FFFFFF;

  /* Text configuration */
  $logo-font: 'Shrikhand';
  $title-font: 'Roboto';
  $body-font: 'Roboto';

  $regular-font-weight: 400;
  $medium-font-weight: 500;
  $bold-font-weight: 700;
  $thin-font-weight: 300;

  $body-font-size: 1rem;
  $body-highlight-font-size: 1.125rem;
  $city-font-size: 1.063rem;
  $title-font-size: 1.5rem;
  $new-font-size: 0.875rem;

  /* Images */

  $image-jay: '../../assets/img/jay-wennington.jpg';
  $image-stil: '../../assets/img/stil.jpg';
  $image-toa: '../../assets/img/toa.jpg';
  $image-louis: '../../assets/img/louis-hansel.jpg';

  /* Mixin */


/* Header */

.localisation {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  background-color: $medium-grey;
  /*box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.25), inset 0 1px 6px rgba(0, 0, 0, 0.25);*/
  &__icon {
    color: $grey;
    width: auto;
    height: 1rem;
  }
  &__city {
    color: $grey;
    margin: 0;
    padding-left: 1rem;
  }
}


/* Hero section */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $light-grey;
  &__title {
    margin-top: 2rem;
    width: 70%;
  }
  &__text {
    font-size: $body-highlight-font-size;
    font-weight: $thin-font-weight;
    color: $grey;
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .button__explore {
    margin-bottom: 4rem;
  }
}

/* Function section */

.function {
  margin: 3rem 1rem 4rem 1rem;
  &__list {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__element {
      /*background-color: $light-grey;*/
      width: 100%;
      /*height: 4.5rem;*/
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      /*border-radius: 20px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);*/
      &__box {
        display: flex;
        align-items: center;
        background-color: $light-grey;
        width: 100%;
        height: 4.5rem;
        margin-left: 0.5rem;
        border-radius: 20px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);

        &__circle {
          position: relative;
          top: 0;
          left: -10px;
          background-color: $purple;
          color: $white;
          padding-top: 0.3rem;
          text-align: center;
          border-radius: 50%;
          width: 2rem;
          height: 1.8rem;
        }

        &__div {
          width: 100%;
          display: flex;
          align-items: center;
        }

        &__img {
          margin: 1rem 1.5rem 1rem 1.5rem;
        }
      }
    }
  }
}

/* Restaurants section */
  .restaurants {
    background-color: $light-grey;
    padding: 2rem 1rem 4rem 1rem;
    height: 85rem;
      /*&__list {
        width: 100%;
        height: 60rem;*/


        &__list__element {

          /*width: 100%;
          height: 15.8rem;
          border-radius: 20px;
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);*/
          text-decoration: none;
          list-style-type: none;

              &__img {
                width: 100%;
                height: 14%;
                background-size: cover;
                background-position: 50% 61%;

                /*background-color: red;*/
                border-radius: 20px 20px 0 0;
                margin-top: 1.5rem;
              }
              .image-jay {
                background-image: url($image-jay);
              }
              .image-stil {
                background-image: url($image-stil);
              }
              .image-toa {
                background-image: url($image-toa);
              }
              .image-louis {
                background-image: url($image-louis);
              }
              &__new {
                position: relative;
                top: 1rem;
                left: 15.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 5rem;
                height: 2rem;
                text-decoration: none;
                list-style-type: none;
                background-color: $green;
                color: $dark-green;
                font-size: $new-font-size;
                border-radius: 2px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
              }

              &__description {
                padding: 1.5rem 1rem 0.5rem 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: $white;
                border-radius: 0 0 20px 20px;
                &__text {
                  color: $black;
                  margin: 0;
                  &__title {
                    font-size: $body-highlight-font-size;
                    font-weight: $bold-font-weight;
                    margin: 0;
                  }

                  &__city {
                    font-size: $city-font-size;
                    font-weight: $thin-font-weight;
                    margin: 0.5rem 0 1rem 0;
                  }
                }

                &__heart {
                  color: $black;
                  font-size: 1.5rem;
                  &:hover {
                    background: linear-gradient($purple, $pink);
                    color: transparent;
                    font-weight: 600;
                    -webkit-background-clip: text;
                  }
                }
              }
            /*}*/
          /*}*/
        /*}*/
      }
  }





