
  /* Colors */
  $purple: #9356DC;
  $light-purple: #BD95F5;
  $pink: #FF79DA;
  $light-pink: #FFAEDB;
  $green: #99E2D0;
  $dark-green: #008766;
  $grey: #353535;
  $icon-grey: #7E7E7E;
  $medium-grey: #EAEAEA;
  $light-grey: #F6F6F6;
  $black: #000000;
  $white: #FFFFFF;

  /* Text configuration */
  $logo-font: 'Shrikhand';
  $title-font: 'Roboto';
  $body-font: 'Roboto';

  $regular-font-weight: 400;
  $medium-font-weight: 500;
  $bold-font-weight: 700;
  $thin-font-weight: 300;

  $body-font-size: 1rem;
  $body-highlight-font-size: 1.125rem;
  $city-font-size: 1.063rem;
  $title-font-size: 1.5rem;
  $new-font-size: 0.875rem;

  /* Images */

  $image-jay: '../assets/img/jay-wennington.jpg';
  $image-stil: '../assets/img/stil.jpg';
  $image-toa: '../assets/img/toa.jpg';
  $image-louis: '../assets/img/louis-hansel.jpg';

  /* Mixin */


/* Header */

.localisation {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  background-color: $medium-grey;
  /*box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.25), inset 0 1px 6px rgba(0, 0, 0, 0.25);*/
  &__icon {
    color: $grey;
    width: auto;
    height: 1rem;
  }
  &__city {
    color: $grey;
    margin: 0;
    padding-left: 1rem;
  }
}


/* Hero section */
.heros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $light-grey;
  &__title {
    margin-top: 2rem;
    width: 70%;
    @media screen and (min-width: 768px) {
      font-size: 2.5rem;
    }
  }
  &__text {
    font-size: $body-highlight-font-size;
    font-weight: $thin-font-weight;
    color: $grey;
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .button__explore {
    margin-bottom: 4rem;
  }
}

/* Function section */

.function {
  margin: 3rem 1rem 4rem 1rem;
  @media screen and (min-width: 768px) {
    margin: 3rem 11rem 3rem 11rem;
    /*tablette et desktop même version donc 768-1440
     est ce que je dois réécrire la mediaquerie dans chaque class ?*/
  }
  &__list {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
    }

    &__element {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      cursor: crosshair;
      transition: all 300ms 40ms;
      &:hover {
        transform: scale(1.03);
        .function__list__element__box__img {
          color: $purple;
          transition-delay: 200ms;
        }
      }
      &__box {
        display: flex;
        align-items: center;
        background-color: $light-grey;
        width: 100%;
        height: 4.5rem;
        margin-left: 0.5rem;
        border-radius: 20px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
        @media screen and (min-width: 768px) {
          width: 90%;
        }

        &__circle {
          position: relative;
          top: 0;
          left: -10px;
          background-color: $purple;
          color: $white;
          padding-top: 0.3rem;
          text-align: center;
          border-radius: 50%;
          width: 2rem;
          height: 1.8rem;
        }

        &__div {
          width: 100%;
          display: flex;
          align-items: center;
        }

        &__img {
          margin: 1rem 1.5rem 1rem 1.5rem;
          color: $icon-grey;
          font-size: 1.2rem;
        }
      }
    }
  }
}

/* Restaurants section */
  .restaurants {
    background-color: $light-grey;
    padding: 2rem 1rem 4rem 1rem;
    height: 83rem;
    @media screen and (min-width: 768px) {
      padding: 3rem 11rem 3rem 11rem;
      height: 50rem;
    }

    &__list {
      @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
      }

      &__element {
        width: 100%;
        height: 17rem;
        text-decoration: none;
        list-style-type: none;
        transition: all 300ms 40ms;

        &:hover {
          transform: scale(1.05);
        }

        &__img {
          position: relative;
          width: 100%;
          height: 65%;
          background-size: cover;
          background-position: 50% 61%;
          border-radius: 20px 20px 0 0;
          margin-top: 1.5rem;
        }

        .image-jay {
          background-image: url($image-jay);
        }

        .image-stil {
          background-image: url($image-stil);
        }

        .image-toa {
          background-image: url($image-toa);
        }

        .image-louis {
          background-image: url($image-louis);
        }

        &__new {
          position: absolute;
          top: 1rem;
          right: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 5rem;
          height: 2rem;
          text-decoration: none;
          list-style-type: none;
          background-color: $green;
          color: $dark-green;
          font-size: $new-font-size;
          border-radius: 2px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
          @media screen and (min-width: 768px) {
            position: absolute;
            top: 1rem;
            right: 1rem;
          }
        }

        &__description {
          padding: 1.5rem 1rem 0.5rem 1rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: $white;
          border-radius: 0 0 20px 20px;

          &__text {
            color: $black;
            margin: 0;

            &__title {
              font-size: $body-highlight-font-size;
              font-weight: $bold-font-weight;
              margin: 0;
            }

            &__city {
              font-size: $city-font-size;
              font-weight: $thin-font-weight;
              margin: 0.5rem 0 1rem 0;
            }
          }

          &__heart {
            color: $black;
            font-size: 1.5rem;
            transition: all 300ms 40ms;

            &:hover {
              transform: scale(1.05);
              background: linear-gradient($purple, $pink);
              color: transparent;
              font-weight: 600;
              -webkit-background-clip: text;
            }
          }
        }
      }
    }
  }





