/* Colors */
$purple: #9356DC;
$light-purple: #BD95F5;
$pink: #FF79DA;
$light-pink: #FFAEDB;
$green: #99E2D0;
$dark-green: #008766;
$grey: #353535;
$icon-grey: #7E7E7E;
$medium-grey: #EAEAEA;
$light-grey: #F6F6F6;
$black: #000000;
$white: #FFFFFF;

/* Text configuration */
$logo-font: 'Shrikhand';
$title-font: 'Roboto';
$body-font: 'Roboto';

$regular-font-weight: 400;
$medium-font-weight: 500;
$bold-font-weight: 700;
$thin-font-weight: 300;

$body-font-size: 1rem; /*16*/
$body-highlight-font-size: 1.125rem; /*18*/
$city-font-size: 1.063rem; /*17*/
$title-font-size: 1.5rem; /*24*/
$new-font-size: 0.875rem; /*14*/

/* Images */

$image-jay: '../assets/img/jay-wennington.jpg';
$image-stil: '../assets/img/stil.jpg';
$image-toa: '../assets/img/toa.jpg';
$image-louis: '../assets/img/louis-hansel.jpg';

/* Mixin */
$prog-loader-delay: 0s;
$prog-loader-dur: 4s;
$anim-delay: $prog-loader-delay + $prog-loader-dur;
/*je veux commencer à animer ma marmite au chargement
de la page puis faire apparaitre la page menu par la suite*/

.hero, .footer {
  animation: hero ease-in-out 1s $anim-delay backwards;

  @keyframes hero {
    0% {
      opacity: 0;
      display: none;
    }
    100% {
      opacity: 1;
      display: block;
    }
  }
}

.loader {
  animation: loader $prog-loader-dur forwards;

  @keyframes loader {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
    &__marmite {
      @media screen and (min-width: 768px) {
        position: absolute;
        top: 20rem;
        left: 30rem;
      }

      &__hatmarmite {
        @media screen and (min-width: 768px) {
          position: relative;
          top: 1rem;
          left: 4rem;
          width: 39%;
        }
          &__img {
            width: 100%;
          }
      }
      &__bodymarmite {
        @media screen and (min-width: 768px) {
          position: relative;
          top: -1.5rem;
          left: 0;
          width: 50%;
        }
          &__img {
            width: 100%;
          }
      }
      &__steam1 {
        @media screen and (min-width: 768px) {
          position: relative;
          top: -20rem;
          left: -2rem;
          width: 6%;
        }
          &__img {
            width: 100%;
          }
      }
      &__steam2 {
        @media screen and (min-width: 768px) {
          position: relative;
          top: -33rem;
          left: -2rem;
          width: 9%;
        }
          &__img {
            width: 100%;
          }
      }
      &__steam3 {
        @media screen and (min-width: 768px) {
          position: relative;
          top: -53rem;
          left: -2rem;
          width: 8%;
        }
          &__img {
            width: 100%;
          }
      }
      &__steam4 {
        @media screen and (min-width: 768px) {
          position: relative;
          top: -60rem;
          left: 3rem;
          width: 7%;
        }
          &__img {
            width: 100%;
          }
      }
      &__steam5 {
        @media screen and (min-width: 768px) {
          position: relative;
          top: -59rem;
          left: 28rem;
          width: 8%;
        }
          &__img {
            width: 100%;
          }
      }
      &__fire1 {
        @media screen and (min-width: 768px) {
          position: relative;
          top: -49.5rem;
          left: 4rem;
          width: 5%;
        }
          &__img {
            width: 100%;
          }
      }
      &__fire2 {
        @media screen and (min-width: 768px) {
          position: relative;
          top: -54rem;
          left: 9rem;
          width: 5%;
          z-index: -1;
        }
          &__img {
            width: 100%;
          }
      }
      &__fire3 {
        @media screen and (min-width: 768px) {
          position: relative;
          top: -58rem;
          left: 13.5rem;
          width: 4%;
        }
          &__img {
            width: 100%;
          }
      }
      &__fire4 {
        @media screen and (min-width: 768px) {
          position: relative;
          top: -64rem;
          left: 17.5rem;
          width: 4.6%;
          z-index: -1;
        }
          &__img {
            width: 100%;
          }
      }
      &__fire5 {
        @media screen and (min-width: 768px) {
          position: relative;
          top: -70rem;
          left: 22rem;
          width: 5%;
        }
          &__img {
            width: 100%;
          }
      }
    }
  }
