@charset "UTF-8";
/* Design System */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
/* Modules */
/* Colors */
/* Text configuration */
/*16*/
/*18*/
/*17*/
/*24*/
/*14*/
/* Images */
/* Mixin */
/* Start animation */
/* Page elements */
.hero {
  /*display: none;
  /*flex-direction: column;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*text-align: center;*/
  background-color: #FFFFFF;
}
.hero .hero__img {
  width: 100%;
  height: 25rem;
  background-size: cover;
  background-position: 60% 60%;
}
@media screen and (min-width: 768px) {
  .hero .hero__img {
    width: 100%;
    /*height: 80%;*/
  }
}
.hero .image-jay {
  background-image: url("../assets/img/jay-wennington.jpg");
}
.hero .image-stil {
  background-image: url("../assets/img/stil.jpg");
}
.hero .image-toa {
  background-image: url("../assets/img/toa.jpg");
}
.hero .image-louis {
  background-image: url("../assets/img/louis-hansel.jpg");
}
.hero__content {
  padding: 0 1rem 0 1rem;
  margin-top: -3rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #F6F6F6;
  border-radius: 30px 30px 0 0;
  /*&__line {
    background-color: $green;
    width: 2.5rem;
    height: 3px;
  }*/
}
@media screen and (min-width: 768px) {
  .hero__content {
    margin: -3rem 11rem 0 11rem;
    padding: 0 11rem 0 11rem;
  }
}
.hero__content__h1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .hero__content__h1 {
    justify-content: center;
  }
}
.hero__content__h1__title {
  font-family: "Shrikhand";
  font-size: 1.75rem;
  font-weight: 400;
}
.hero__content__h1__heart {
  color: #000000;
  font-size: 1.5rem;
  align-self: center;
  margin-left: 2rem;
  transition: all 300ms 40ms;
}
.hero__content__h1__heart:hover {
  transform: scale(1.05);
  background: linear-gradient(#9356DC, #FF79DA);
  color: transparent;
  font-weight: 600;
  -webkit-background-clip: text;
}
.hero__content__title {
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 0.3rem;
}
.hero__content__title:after {
  content: "";
  display: block;
  background-color: #99E2D0;
  width: 2.5rem;
  height: 3px;
  margin-top: 0.3rem;
}
.hero__content__entree {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 1rem;
}
.hero__content__entree__menu {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin: 1rem 0 0 0;
  background-color: #FFFFFF;
  overflow: hidden;
  transition: all 300ms;
}
.hero__content__entree__menu .menu__a {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.hero__content__entree__menu:hover .hero__content__entree__menu__check {
  /*transform-origin: right;
  animation: check 400ms 10ms both;*/
  margin-right: 0;
}
.hero__content__entree__menu:hover .hero__content__entree__menu__check .hero__content__entree__menu__check__icon {
  background-position: top right;
}
@keyframes check {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
.hero__content__entree__menu__check {
  /*display: none;*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 4rem;
  height: 100%;
  margin-right: -6rem;
  border-radius: 0 15px 15px 0;
  transition: all 500ms ease-in-out;
  /*box-shadow: inset 2px 2px 15px 15px $dark-green;*/
}
.hero__content__entree__menu__check__icon {
  color: #FFFFFF;
  font-size: 1.2rem;
  text-shadow: 2px 2px 10px #008766;
}
.hero__content__entree__menu__title {
  margin: 0 0 0.3rem 0;
  color: #000000;
  font-weight: 500;
  font-size: 1.125rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.hero__content__entree__menu__detail {
  margin: 0;
  color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.hero__content__entree__menu__detail__and {
  width: 100%;
  margin: 0;
  font-weight: 300;
  font-size: 0.875rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.hero__content__entree__menu__detail__price {
  margin: 0 0 0 1rem;
  font-weight: 700;
  font-size: 0.875rem;
}
.hero__content__command {
  margin: 2rem 0 3rem 0;
  align-self: center;
}

.progress .entree-1 {
  transform-origin: right;
  animation: apparition 800ms 150ms backwards;
}
.progress .entree-2 {
  transform-origin: right;
  animation: apparition 800ms 500ms backwards;
}
.progress .entree-3 {
  transform-origin: right;
  animation: apparition 800ms 850ms backwards;
}
.progress .plat-1 {
  transform-origin: right;
  animation: apparition 800ms 1350ms backwards;
}
.progress .plat-2 {
  transform-origin: right;
  animation: apparition 800ms 1700ms backwards;
}
.progress .plat-3 {
  transform-origin: right;
  animation: apparition 800ms 2150ms backwards;
}
.progress .dessert-1 {
  transform-origin: right;
  animation: apparition 800ms 2450ms backwards;
}
.progress .dessert-2 {
  transform-origin: right;
  animation: apparition 800ms 2800ms backwards;
}
.progress .dessert-3 {
  transform-origin: right;
  animation: apparition 800ms 3150ms backwards;
}

@keyframes apparition {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
/* Colors */
/* Text configuration */
/* Images */
/* Mixin */
/* Header */
.localisation {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  background-color: #EAEAEA;
  /*box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.25), inset 0 1px 6px rgba(0, 0, 0, 0.25);*/
}
.localisation__icon {
  color: #353535;
  width: auto;
  height: 1rem;
}
.localisation__city {
  color: #353535;
  margin: 0;
  padding-left: 1rem;
}

/* Hero section */
.heros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
}
.heros__title {
  margin-top: 2rem;
  width: 70%;
}
@media screen and (min-width: 768px) {
  .heros__title {
    font-size: 2.5rem;
  }
}
.heros__text {
  font-size: 1.125rem;
  font-weight: 300;
  color: #353535;
  margin-top: 0;
  margin-bottom: 2rem;
}
.heros .button__explore {
  margin-bottom: 4rem;
}

/* Function section */
.function {
  margin: 3rem 1rem 4rem 1rem;
}
@media screen and (min-width: 768px) {
  .function {
    margin: 3rem 11rem 3rem 11rem;
    /*tablette et desktop même version donc 768-1440
     est ce que je dois réécrire la mediaquerie dans chaque class ?*/
  }
}
.function__list {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .function__list {
    display: flex;
    flex-direction: row;
  }
}
.function__list__element {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  cursor: crosshair;
  transition: all 300ms 40ms;
}
.function__list__element:hover {
  transform: scale(1.03);
}
.function__list__element:hover .function__list__element__box__img {
  color: #9356DC;
  transition-delay: 200ms;
}
.function__list__element__box {
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
  width: 100%;
  height: 4.5rem;
  margin-left: 0.5rem;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 768px) {
  .function__list__element__box {
    width: 90%;
  }
}
.function__list__element__box__circle {
  position: relative;
  top: 0;
  left: -10px;
  background-color: #9356DC;
  color: #FFFFFF;
  padding-top: 0.3rem;
  text-align: center;
  border-radius: 50%;
  width: 2rem;
  height: 1.8rem;
}
.function__list__element__box__div {
  width: 100%;
  display: flex;
  align-items: center;
}
.function__list__element__box__img {
  margin: 1rem 1.5rem 1rem 1.5rem;
  color: #7E7E7E;
  font-size: 1.2rem;
}

/* Restaurants section */
.restaurants {
  background-color: #F6F6F6;
  padding: 2rem 1rem 4rem 1rem;
  height: 83rem;
}
@media screen and (min-width: 768px) {
  .restaurants {
    padding: 3rem 11rem 3rem 11rem;
    height: 50rem;
  }
}
@media screen and (min-width: 768px) {
  .restaurants__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
}
.restaurants__list__element {
  width: 100%;
  height: 17rem;
  text-decoration: none;
  list-style-type: none;
  transition: all 300ms 40ms;
}
.restaurants__list__element:hover {
  transform: scale(1.05);
}
.restaurants__list__element__img {
  position: relative;
  width: 100%;
  height: 65%;
  background-size: cover;
  background-position: 50% 61%;
  border-radius: 20px 20px 0 0;
  margin-top: 1.5rem;
}
.restaurants__list__element .image-jay {
  background-image: url("../assets/img/jay-wennington.jpg");
}
.restaurants__list__element .image-stil {
  background-image: url("../assets/img/stil.jpg");
}
.restaurants__list__element .image-toa {
  background-image: url("../assets/img/toa.jpg");
}
.restaurants__list__element .image-louis {
  background-image: url("../assets/img/louis-hansel.jpg");
}
.restaurants__list__element__new {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 2rem;
  text-decoration: none;
  list-style-type: none;
  background-color: #99E2D0;
  color: #008766;
  font-size: 0.875rem;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 768px) {
  .restaurants__list__element__new {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}
.restaurants__list__element__description {
  padding: 1.5rem 1rem 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  border-radius: 0 0 20px 20px;
}
.restaurants__list__element__description__text {
  color: #000000;
  margin: 0;
}
.restaurants__list__element__description__text__title {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0;
}
.restaurants__list__element__description__text__city {
  font-size: 1.063rem;
  font-weight: 300;
  margin: 0.5rem 0 1rem 0;
}
.restaurants__list__element__description__heart {
  color: #000000;
  font-size: 1.5rem;
  transition: all 300ms 40ms;
}
.restaurants__list__element__description__heart:hover {
  transform: scale(1.05);
  background: linear-gradient(#9356DC, #FF79DA);
  color: transparent;
  font-weight: 600;
  -webkit-background-clip: text;
}

/* Colors */
/* Text configuration */
/*16*/
/*18*/
/*17*/
/*24*/
/*14*/
/* Images */
/* Mixin */
/*je veux commencer à animer ma marmite au chargement
de la page puis faire apparaitre la page menu par la suite*/
.localisation, .function, .restaurants, .heros, .footer {
  animation: hero ease-in-out 1s 3s backwards;
  /*visibility: hidden; on aurait aussi pu utiliser visibility*/
}
@keyframes hero {
  0% {
    opacity: 0;
    /*visibility: inherit;*/
  }
  100% {
    opacity: 1;
  }
}

.loader {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  pointer-events: none;
  animation: loader 3s forwards;
}
@keyframes loader {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loader__marmite {
  position: absolute;
  top: 15rem;
  left: 2rem;
  animation: heat 2s alternate infinite;
}
@media screen and (min-width: 768px) {
  .loader__marmite {
    position: absolute;
    top: 20rem;
    left: 30rem;
  }
}
@keyframes heat {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.02);
  }
}
.loader__marmite .steam {
  animation: steam 0.5s alternate infinite;
}
@keyframes steam {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
.loader__marmite .flames {
  animation: flames 650ms alternate infinite;
}
@keyframes flames {
  0% {
    transform: translateX(-2px) rotate(-2deg);
  }
  25% {
    transform: translateX(2px) rotate(2deg);
  }
  50% {
    transform: translateX(-2px) rotate(-2deg);
  }
  75% {
    transform: translateX(2px) rotate(2deg);
  }
  100% {
    transform: translateX(-2px) rotate(-2deg);
  }
}
.loader__marmite__hatmarmite {
  position: relative;
  top: -0.5rem;
  left: 2.8rem;
  width: 69%;
}
@media screen and (min-width: 768px) {
  .loader__marmite__hatmarmite {
    position: relative;
    top: 1rem;
    left: 4rem;
    width: 39%;
  }
}
.loader__marmite__hatmarmite__img {
  width: 100%;
}
.loader__marmite__bodymarmite {
  position: relative;
  top: -2rem;
  left: 0;
  width: 90%;
}
@media screen and (min-width: 768px) {
  .loader__marmite__bodymarmite {
    position: relative;
    top: -1.5rem;
    left: 0;
    width: 50%;
  }
}
.loader__marmite__bodymarmite__img {
  width: 100%;
}
.loader__marmite__steam1 {
  position: relative;
  top: -13.5rem;
  left: -0.5rem;
  width: 10%;
}
@media screen and (min-width: 768px) {
  .loader__marmite__steam1 {
    position: relative;
    top: -20rem;
    left: -2rem;
    width: 6%;
  }
}
.loader__marmite__steam1__img {
  width: 100%;
}
.loader__marmite__steam2 {
  position: relative;
  top: -20.5rem;
  left: -0.5rem;
  width: 14%;
}
@media screen and (min-width: 768px) {
  .loader__marmite__steam2 {
    position: relative;
    top: -33rem;
    left: -2rem;
    width: 9%;
  }
}
.loader__marmite__steam2__img {
  width: 100%;
}
.loader__marmite__steam3 {
  position: relative;
  top: -32rem;
  left: -1rem;
  width: 13%;
}
@media screen and (min-width: 768px) {
  .loader__marmite__steam3 {
    position: relative;
    top: -53rem;
    left: -2rem;
    width: 8%;
  }
}
.loader__marmite__steam3__img {
  width: 100%;
}
.loader__marmite__steam4 {
  position: relative;
  top: -36rem;
  left: 2rem;
  width: 10%;
}
@media screen and (min-width: 768px) {
  .loader__marmite__steam4 {
    position: relative;
    top: -60rem;
    left: 3rem;
    width: 7%;
  }
}
.loader__marmite__steam4__img {
  width: 100%;
}
.loader__marmite__steam5 {
  position: relative;
  top: -35rem;
  left: 18rem;
  width: 11%;
}
@media screen and (min-width: 768px) {
  .loader__marmite__steam5 {
    position: relative;
    top: -59rem;
    left: 28rem;
    width: 8%;
  }
}
.loader__marmite__steam5__img {
  width: 100%;
}
.loader__marmite__fire1 {
  position: relative;
  top: -29rem;
  left: 3rem;
  width: 8%;
}
@media screen and (min-width: 768px) {
  .loader__marmite__fire1 {
    position: relative;
    top: -49.5rem;
    left: 4rem;
    width: 5%;
  }
}
.loader__marmite__fire1__img {
  width: 100%;
}
.loader__marmite__fire2 {
  position: relative;
  top: -31.5rem;
  left: 6rem;
  width: 7%;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .loader__marmite__fire2 {
    position: relative;
    top: -54rem;
    left: 9rem;
    width: 5%;
    z-index: -1;
  }
}
.loader__marmite__fire2__img {
  width: 100%;
}
.loader__marmite__fire3 {
  position: relative;
  top: -34rem;
  left: 8.5rem;
  width: 7%;
}
@media screen and (min-width: 768px) {
  .loader__marmite__fire3 {
    position: relative;
    top: -58rem;
    left: 13.5rem;
    width: 4%;
  }
}
.loader__marmite__fire3__img {
  width: 100%;
}
.loader__marmite__fire4 {
  position: relative;
  top: -37.5rem;
  left: 11rem;
  width: 7%;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .loader__marmite__fire4 {
    position: relative;
    top: -64rem;
    left: 17.5rem;
    width: 4.6%;
    z-index: -1;
  }
}
.loader__marmite__fire4__img {
  width: 100%;
}
.loader__marmite__fire5 {
  position: relative;
  top: -41rem;
  left: 13.5rem;
  width: 8%;
}
@media screen and (min-width: 768px) {
  .loader__marmite__fire5 {
    position: relative;
    top: -70rem;
    left: 22rem;
    width: 5%;
  }
}
.loader__marmite__fire5__img {
  width: 100%;
}

/* Colors */
/* Text configuration */
/* Images */
/* Mixin */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #FFFFFF;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1rem;
}

a {
  text-decoration: none;
  list-style-type: none;
}

h1, h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  color: #000000;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  list-style-type: none;
  z-index: 1;
}
.logo__img {
  width: 10.125rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.logo__arrow {
  color: #353535;
  position: relative;
  top: 1.7rem;
  left: -4rem;
}
@media screen and (min-width: 1440px) {
  .logo__arrow {
    position: relative;
    top: 1.7rem;
    left: -38rem;
  }
}

.button {
  border-radius: 25px;
  width: 15rem;
  border: none;
  color: #FFFFFF;
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  padding: 1rem 1.5rem 1rem 1.5rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(#FF79DA, #9356DC);
  transition: transform 300ms, background 300ms 50ms, box-shadow 300ms 50ms;
}
.button:hover {
  transform: scale(1.02);
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
}

.footer {
  background-color: #353535;
  padding: 1rem 1rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
}
.footer__div {
  font-family: "Shrikhand";
  color: #FFFFFF;
  font-size: 1.125rem;
}
@media screen and (min-width: 768px) {
  .footer__div {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
.footer__choice {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__choice {
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
  }
}
.footer__choice__line {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 0.5rem;
  transition: all 300ms 40ms;
}
.footer__choice__line:hover {
  transform: scale(1.05);
}
@media screen and (min-width: 768px) {
  .footer__choice__line {
    margin: 0 1rem 0 0;
  }
}
.footer__choice__line__img {
  width: 0.69rem;
  height: 0.81rem;
  margin-right: 0.5rem;
  text-decoration: none;
  list-style-type: none;
  color: #FFFFFF;
}
.footer__choice__line__text {
  color: #FFFFFF;
  margin: 0 0 0 0.5rem;
}
.footer__choice__line__text-without-img {
  color: #FFFFFF;
  margin: 0;
  font-weight: 400;
}

/*# sourceMappingURL=main.css.map */
